{require_otp_vsn, "17|18"}.

{erl_opts, [debug_info,
	    {i, "./include"},
	    {i, "../gb_log/include"}
	   ]}.
{eunit_opts, [verbose]}.

{deps, [
	{enterdb, ".*", {git, "https://github.com/pundunlabs/enterdb.git",{branch, "master"}}},
	{gb_conf, ".*", {git, "https://github.com/pundunlabs/gb_conf.git",{branch, "master"}}},
	{gb_log, ".*", {git, "https://github.com/pundunlabs/gb_log.git",{branch, "master"}}},
	{gb_hash, ".*", {git, "https://github.com/pundunlabs/gb_hash.git",{branch, "master"}}}
    ]}.

{ct_log_dir, "test/logs"}.
{ct_use_short_names, true}.
