{require_otp_vsn, "^(1[9]|[2-9]\d)"}.

{erl_opts, [debug_info,
	    {i, "./include"},
	    {i, "../gb_log/include"}
	   ]}.
{eunit_opts, [verbose]}.

{deps, [
    {gb_conf, ".*", {git, "https://github.com/pundunlabs/gb_conf.git",{tag, "v1.0.2"}}},
    {gb_reg, ".*", {git, "https://github.com/pundunlabs/gb_reg.git",{tag, "v1.0.1"}}},
    {gb_log, ".*", {git, "https://github.com/pundunlabs/gb_log.git",{tag, "v1.0.4"}}}
    ]}.

{ct_log_dir, "test/logs"}.
{ct_use_short_names, true}.
